*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 60px;
    width: 100%;
}

    